// .main-header {
//   background-color: #3acec2;
//   padding: 1em 0;
// }

// .row {
//   display: flex;
// }

.container {
  // border: 3px solid red;
  text-align: center;
}

.row {
   width: 70%;
 margin: 0 auto;
 display: flex;
//  border: 3px solid green;
}
.flex-large {
  // border: 2px solid dodgerblue;
  margin: 0 auto;
}
